# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
gradle/
!gradle/wrapper/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
forge-1.20.1-mdk/gradle/
!forge-1.20.1-mdk/gradle/wrapper/
!forge-1.20.1-mdk/gradle/wrapper/gradle-wrapper.jar
!forge-1.20.1-mdk/gradle/wrapper/gradle-wrapper.properties
**/gradle/gradle-*-bin.zip